@import '../../../../styles/variables-styles.scss';

.borderCountries{
    display: flex;
    align-items: flex-start;
    font-size: 15px;

    strong{
        width: 170px;
        font-weight: 600;
    }
    
    div{
        width: 80%;
        display: flex;

        gap: 8px;
        flex-wrap: wrap;
        margin-left: 12px;

        button{
            background-color: $white;
            width: 72px;
            margin-right: 16px;
            padding: 8px 12px;
            border-radius: 4px;
            font-size: 12px;
            text-transform: capitalize;
            box-shadow: 1px 1px 2px 1px #00000062;
            border: none;
            text-align: center;
            cursor: pointer;
        }
    }
    
}

@media (max-width: 412px) {
    .borderCountries{
        flex-direction: column;
        gap: 16px 0;

        div{
            width: 100%;
            margin-left: 0.75%;
            gap: 2px;
        }
    }
}