@import '../../styles/variables-styles.scss';

.messageError{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    gap: 24px;

    p{
        color: dark-blueText
    }

    button{
        padding: 12px 32px;
        background: $white;
        border-radius: 4px;
        border: none;
        box-shadow: 2px 2px .5px .5px #00000010;
        cursor: pointer;
        transition: all .5s;

        &:hover{
            background-color: #00000007;
        }
    }
}