@import './color-styles.scss';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    width: 100%;
}

body{
    background-color: $light-gray;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

@media (max-width: 412px) {
    html{
        font-size: 80%;
    }
}