@import '../../styles/global-styles.scss';

.homeContainer{

    width: 100%;
    max-width: 1440px;



    .countryContainer{
        display: flex;
        align-items: center;
        padding: 0 64px;
        flex-wrap: wrap;
        gap: 32px 59.343px;
    }
}