@import '../../styles/variables-styles.scss';

.homeContainer{
    width: min(1440px, 100%);
    font-size: $fs-home;
    
    .countryContainer{
        margin-inline: 64px;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        column-gap: 12px;
        row-gap: 24px;

        .loading{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
    }
}


