@import '../../styles/global-styles.scss';

.homeContainer{
    width: 100%;
    max-width: 1440px;

    .countryContainer{
        width: 1240px;
        margin: 0 auto;
        padding-left: 1.5rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

        .loading{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
    }
}
