@import '../../styles/global-styles.scss';

a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    margin-left: 127px;
    margin-bottom: 24px;
    padding: 10px 12px;
    width: 124px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #00000062;
    text-align: center;
    text-decoration: none;
    color: $dark-blueText;
    background-color: $white;
}

.detailsContainer{
    padding: 0 64px;
    display: flex;
    justify-content: space-around;
    gap: 16px; 

    img{
        width: 35%;
        border-radius: 4px;
    }

    .detailsCountry{
        h3{
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 24px;
        }

        .infoCountry{
            display: flex;
            margin-bottom: 16px;

            ul {
                
                li{
                    margin-bottom: 16px;
                    display: flex;

                    strong{
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    p{
                        text-transform: capitalize;
                        margin-left: 4px;
                    }
                }

                & + ul{
                    margin-left: 64px;
                }
            }
        }

        .borderCountries{
            display: flex;
            align-items: center;

            strong{
                margin-right: 12px;
                font-weight: 600;
            }
            & > p{
                width: 100px;
                margin-right: 16px;
                padding: 8px;
                border-radius: 4px;
                background-color: $white;
                text-transform: capitalize;
                box-shadow: 1px 1px 2px 1px #00000062;
                border: none;
                text-align: center;
            }
        }
    }  
}