@import '../../styles/global-styles.scss';

a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    max-width: 100px;
    margin-left: 11%;
    margin-bottom: 24px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #00000062;
    text-align: center;
    text-decoration: none;
    color: $dark-blueText;
    background-color: $white;
}

@media (max-width: 768px) {
    a{
        margin-left: 11%;
    }
}

@media (max-width: 425px) {
    a{
        margin-left: 5%;
    }
}