@import '../../styles/variables-styles.scss';

.country{
    width: 280px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #00000011;

    
    cursor: pointer;

    img{
        width: 280px;
        height: 165px;
    }

.infoCountry{
    padding: 24px 20px;

    h3{
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: 800;
    }

    ul{
        li{
            margin-bottom: 8px;
            span{
                text-transform: capitalize;
                font-weight: 600;
                margin-right: 6px;
            }
        }
    }
}
}